*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img, video {
    max-width: 100%;
    height: auto;
    display: block;
}

button, input, textarea, select {
    font: inherit;
    border: none;
    background: none;
    outline: none;
}

.container p,
.instructions ol li,
.ingredients ul li {
    max-width: 70ch;
    line-height: 1.6;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    font-family: system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
:root {
    --rose-800: #7A284E;
    --rose-50: #FFF7FB;
    --stone-900: #312E2C;
    --stone-600: #5F564D;
    --stone-150: #E3DDD7;
    --stone-100: #F3E5D7;
    --brown-800: #854632;
    --white: #FFFFFF;
}

:root {
    --heading-large: 40px;
    --heading-medium: 28px;
    --heading-small: 20px;
    --body-text: 16px;
    --small-text: 14px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--stone-100);
    font-family: "Outfit", sans-serif;
}

.container {
    width: 100%;
    max-width: 736px;
    height: auto;
    border-radius: 24px;
    background: var(--white);
    padding: 2.5rem;
    margin: 6.25rem;
    position: relative;
    box-shadow: 10px 10px 15px rgba(95, 86, 77, 0.1);
}

img {
    border-radius: 12px;
    margin-bottom: 2.5rem; 
}

h1 {
    color: var(--stone-900);
    margin-bottom: 1.5rem;
}

h1, h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-size: var(--heading-large);
}

.container p {
    font-weight: 400;
    color: var(--stone-600);
    margin-bottom: 2rem;
}

.prep-time {
    display: flex;
    flex-direction: column;
    background-color: var(--rose-50);
    padding: 1.5rem;
    border-radius: 12px;
    margin-bottom: 2rem;
}

.prep-time h2 {
    font-family: "Outfit", sans-serif;
    font-size: var(--heading-small);
    font-weight: 600;
    color: var(--rose-800);
    line-height: 100%;
    margin-bottom: 1rem;
}

.ingredients ul {
    margin-bottom: 2rem;
}

.instructions {
    margin-bottom: 2rem;
} 

h2 {
    font-size: var(--heading-medium);
    color: var(--brown-800);
    margin-bottom: 1.5rem;
}

hr {
    width: 100%;
    margin-bottom: 2rem;
    border: 1px solid var(--stone-150);
}

span {
    font-weight: bold;
}

ul, ol {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    color: var(--stone-600);
    gap: 5px;
}

ul li,
ol li {
    padding-left: 0.5rem;
}

ul li::marker {
    font-size: 0.8em;
    color: var(--brown-800);
    
}

ol li::marker {
    font-weight: bold;
    color: var(--brown-800);
}

.nutrition table {
    width: 100%;
    border-collapse: collapse;
  }
  
.nutrition th {
    text-align: left;
    color: var(--stone-600);
    font-weight: 400;
    padding-left: 1.25rem;
  }
  
.nutrition td {
    text-align: left;
    color: var(--brown-800);
    padding: 0.5rem 0;
    font-weight: bold;
  }
  
.nutrition tr {
    border-bottom: 1px solid var(--stone-150);
    height: 45px;
  }
  
.nutrition tr:last-child {
    border-bottom: none;
  }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  /* Mobile Devices (smaller than 600px) */
@media (max-width: 600px) {
    .container {
        padding: 1.25rem;
        margin: 1.25rem;
        min-height: auto;
    }

    .container p, ul, ol {
        font-size: 0.9375rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    img {
        margin-bottom: 1.5rem;
    }
  }

  /* Tablets (600px - 900px) */
@media (min-width: 601px) and (max-width: 900px) {
    .container {
        padding: 1.875rem;
        margin: 3.125rem;
        min-height: auto;
    }

    h1 {
        font-size: 2.25rem;
    }
  }

@media (max-width: 900px) {
    .container {
        margin: 1.25rem;
    }
  }